@charset "ISO-8859-1";

#footer{
	width:1400px;
	background-color:#e7e6e6;
	left:0;
	bottom:0;
	right:0;
	margin-bottom:0;

}

p {
	font-family:"Trebucht MS", Helvetica, sans-serif;
	font-size:20px;
	color:#3b3838;
	
}