@charset "ISO-8859-1";


#header{
	width:1400px;
	hight:3000px;
	left:0;
	bottom:0;
	right:0;
	margin-bottom:0;

}


img{
	
	width:300px;
	float:left;
	margin-right:400px;

}

a{
	color:black;
	font-family:"Trebucht MS", Helvetica, sans-serif;
	font-size:18px;
	float:left;
	text-decoration:none;
	padding:25px;
	
	
}
a:hover, a:active{
	color:#aca9df
}

input[type=search] {
	width:200px;
	float: left;
	height:30px;
	padding-right: 2px;	

}


button, input[type=submit] {
	background-color:white;
	border:2px solid black;
	color:black;
	text-align:center;
	font-size:16px;
	border-radius:8px;
	padding: 10px 30px;
	margin-right:0%;
}

button:hover, input[type=submit]:hover{
	background-color:#aca9df
	
}

