@charset "ISO-8859-1";


#register{
	width:1400px;
	hight:2000px;
	
}


h1, h3{
	
	font:"Times New Roman";
	text-align:center;	
}

form{ 
  width: 1400px; 
  hight: 700px;
  border: 1px solid #8c8c8c;
  align:center;
  background-image: url("../images/lila.jpg");
  background-size: 2000px 600px;
  text-align:center;

  
}

form input[type=text], form textarea, form input[type=password], form input[type=email], form input[type=file], form input[type=date], input[type=search] {
	hight:100px;
	widht:900px;
	font-size:16px;
	border: 1px solid;
	border-radius:10px;
	text-align:center;
	padding:10px;
	margin:10px;
	
	
}



form input[type=submit]{
	margin:10px;
}

#albumlogo {
	width:150px;
}
table {
	width:1400px;
	column-count:4; 
	table-layout:fixed;
	
}
td, th{
	text-align:left;
}

a {
	text-align:center;
}